# Byte-compiled / optimized / DLL files
__pycache__/

us.stackdump
/CSharp/**/bin/
/CSharp/**/debug/
/CSharp/**/data/
/Java/**/nbproject/private/
/Java/**/build/
/Java/**/target/
TrolloloConnectionStrings.java
/Java/Jgit01/JSpringSource/**

#
/Java/Jgit01/JMmybatis01/target/
/Java/Jgit01/JFXapp01/nbproject/private/
/Java/Jgit01/JFXapp01/build/
/Java/Jgit01/JFXapp01/dist/
/Java/Jgit01/JFXapp02/nbproject/private/
/Java/Jgit01/JFXapp02/dist/
/Java/Jgit01/JFXapp02/build/
/Java/Jgit01/JFXapp04/nbproject/private/
/Java/Jgit01/JFXapp04/build/
/Java/Jgit01/JFXapp04/dist/
/Java/Jgit01/JFX8app01/nbproject/private/
/Java/Jgit01/JFX8app01/build/
/Java/Jgit01/JFX8app01/dist/
CSharp/cs01/WFRacunSol01/Racun01/bin/Debug/Racun01.vshost.exe.config
CSharp/cs01/WFRacunSol01/WFRacunSol01.v11.suo
/Java/Jgit01/WMvps01/target/