# Byte-compiled / optimized / DLL files
__pycache__/

/Java/Jgit01/anaG01/Jana3/nbproject/private/
/Java/Jgit01/Wboot01/nbproject/private/
/Java/Jgit01/Wboot01/build/
us.stackdump
CSharp/**/bin/
CSharp/**/debug/
CSharp/**/data/
/Java/Jgit01/Wcanvas01/nbproject/private/
/Java/Jgit01/Wcanvas01/build/
/Java/Jgit01/Jkryonet01/nbproject/private/
/Java/Jgit01/Jkryonet01/build/
/Java/Jgit01/Jkryonet01cl01/nbproject/private/
/Java/Jgit01/Jkryonet01cl01/build/
/Java/Jgit01/WSform01/nbproject/private/
/Java/Jgit01/WSform01/build/
/Java/Jgit01/JMorm01/target/
/Java/Jgit01/WcrawlRead04/nbproject/private/
TrolloloConnectionStrings.java
/Java/Jgit01/WcrawlRead04/build/
/Java/Jgit01/JMSvalidation01/target/
/Java/Jgit01/WMSmvc01/target/
/Java/Jgit01/WMSmvc02/target/